<!-- Contenido de index.ejs --><!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Juegos Cl치sicos</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <h1 class="titulo">Juegos Cl치sicos</h1>
  <div class="contenedor-juegos">
    <div class="juego">
      <a href="/tateti">
        <img src="/images/tateti.png" alt="TaTeTi" />
      </a>
      <p>TaTeTi</p>
    </div>
    <div class="juego">
      <a href="/simon">
        <img src="/images/simondice.png" alt="Sim칩n Dice" />
      </a>
      <p>Sim칩n Dice</p>
    </div>
    <div class="juego">
      <a href="/ppt">
        <img src="/images/ppt.png" alt="Piedra Papel Tijeras" />
      </a>
      <p>Piedra, Papel o Tijeras</p>
    </div>
  </div>
</body>
</html>
